APP_HOST=0.0.0.0
APP_PORT=2020
APP_THREADS=0

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=inventory_api
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_CONNECTIONS=4
POSTGRES_CLIENT_NAME=default
POSTGRES_FAST_CLIENT=false
POSTGRES_CHARSET=UTF8
POSTGRES_TIMEOUT=-1
POSTGRES_AUTO_BATCH=false
POSTGRES_SSLMODE=
